<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to Express</p>
    <h3>Sing in</h3>
    <form action="/auth/login" method="post">
      <input type="text" name="email" id="" placeholder="Email" required>
      <input type="text" name="password" id="" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
    <% messages.forEach(function(message){ %>
      <p><%- message.msg %></p>
    <% }); %>
  </body>
</html>
